// $header-bg: #E9E0D6;
// $body-bg: #A68572;
// $special-bg: #1E2327;

// $lighter-font-color: #E9E0D6;
// $darker-font-color: #000;

// $cursive-font: 'Pacifico', cursive;
// $funky-font: 'Indie Flower', cursive;
// $sans-font: 'Ropa Sans', sans-serif;

$header-bg: #22313F;
$body-bg: #01A887; //middle
$special-bg: #F2784B; //top

$lighter-font-color: #F2F1EF;
$darker-font-color: #22313F;

$cursive-font: 'Handlee', cursive;
$funky-font: 'Poiret One', cursive;
$sans-font: 'Ropa Sans', sans-serif;